﻿/*
    Colors:
    stone: #336b87
    shadow: #2a3132
    mist: #90afc5
    autumn foliage: #763626
*/



body {
    padding-top: 50px;
    background-image: url('../images/food.png');
    background-repeat: repeat;
    font-family: 'Lato', sans-serif;
}

.form-group img {
    max-height: 200px;
    max-width: 200px;
}

td img {
    max-height: 200px;
    max-width: 200px;
}

.image-upload > input {
    display: none;
}

#myCarousel {    
    margin-top: 10px;
    max-width: 200px;
}

.thumbnail {
    margin-bottom: 0;
    max-width: 200px;
    max-height: 600px;
    overflow: hidden;
}
.items {
    align-items: center;
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    margin-left: -10px;
    margin-top: -10px;
}

.items .item {
    flex: 0 1 200px;
    /*flex: 1 0 200px;*/
    box-sizing: border-box;    
    color: #171e42;
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

#welcomeContainer {    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -10px;
    margin-top: -10px;
}

#welcomeContainer .welcome-item {        
    padding: 10px;
}

#myWelcome {        
    
    margin-top: 10px;
}

.list-group-item {
    padding-left: 0;
    padding-right: 0;
}

.list-group-item div{
    padding-left: 0;
    padding-right: 0;
}

.order-list {
    margin: 10px;    
}
    
.order-list .order-item {
    margin-top: 0;
    border-bottom: solid black 2px;
}

.order-list .order-item .row{
    margin-left: 0;
    margin-right: 0;
}


.order-list .order-item .collapseDetails {
    background-color: #d2691e;
    box-shadow: 0 5px 0 darkred;
    color: white;
    display: block;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

.order-list .order-item .collapseDetails:hover {
    background-color: #9d4e16;
    cursor: pointer;
}

.order-list .order-item .collapseDetails:active {
    background-color: #e48847;
    box-shadow: none;
    top: 5px;
}

.order-list .order-item form > .list-group-item {
    background-color: #e48847;
}


.order-list .order-item .collapseCakeDetails {
    background-color: #ec5800;
    box-shadow: 0 5px 0 darkred;
    color: white;
    display: block;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

.order-list .order-item .collapseCakeDetails:hover {
    background-color: #b14100;
    cursor: pointer;
}

.order-list .order-item .collapseCakeDetails:active {
    background-color: #ff7828;
    box-shadow: none;
    top: 5px;
}
.order-list .order-item form > .list-group-item .list-group-item {
    background-color: #ff7828;
}

.cakes-table thead {
    background-color: #336b87;
    display: table-header-group;
    vertical-align: middle;
}

.cakes-table tbody {
    background-color: #90afc5;
    display: table-header-group;
    vertical-align: middle;
}

.isa_info, .isa_success, .isa_warning, .isa_error {
    margin: 10px 0px;
    padding:12px;
    display: inline-block;
}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
    display: inline-block;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
    display: inline-block;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
    display: inline-block;
}
.isa_error {
    color: #D8000C;
    background-color: #FFD2D2;
    display: inline-block;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}