﻿@{
    ViewData["Title"] = "Contact";
}
@model ContactUsViewModel
<h2>@ViewData["Title"]</h2>


<p>If you have any question, please don't hesitate to get in touch. Click below to send a message!</p>
<form asp-controller="Home" asp-action="Contact" method="post" role="form">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Name" class="form-control" />            
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Email" class="form-control" />            
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Comment" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <textarea asp-for="Comment" class="form-control"cols="20" rows="4" runat="server"></textarea>            
        </div>
    </div>
    <div class="row col-md-offset-1">        
        <button type="submit" class="btn btn-primary">Send</button>               
        <button type="reset" class="btn btn-primary">Cancel</button>        
    </div>
</form>
<p>@ViewBag.Success</p>


@*<email address="ardelscakeshop@gmail.com" content="Contact us"></email>*@

