﻿@model IEnumerable<ArdelsCakeShop.Models.Cakes.Cake>
<div id="welcomeContainer">
    <div id="myCarousel" class="carousel slide welcome-item col-4" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img class="img-fluid" src="~/images/carousel/coconut_cake.jpg" alt="Chania">
                <div class="carousel-caption">
                    <h3>Be nut and try out coconut cake</h3>
                </div>
            </div>

            <div class="item">
                <img class="img-fluid" src="~/images/carousel/fruit_cake.jpg" alt="Chicago">
                <div class="carousel-caption">
                    <h3>Appleppie</h3>
                </div>
            </div>

            <div class="item">
                <img class="img-fluid" src="~/images/carousel/pastryshop.jpg" alt="New York">
                <div class="carousel-caption">
                    <h3>Your tongue is hanging out</h3>
                </div>
            </div>
            <div class="item">
                <img class="img-fluid" src="~/images/carousel/muffins.jpg" alt="Chicago">
                <div class="carousel-caption">
                    <h3>~Muffins~</h3>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div id="myWelcome" class="img-fluid img-responsive welcome-item col-8">
        <img src="~/images/welcome.png" />
    </div>
</div>
@section Scripts{
    @Html.Partial("~/Views/Cake/List.cshtml")
}