﻿@model UploadCakeSmallImageViewModel
@{
    ViewData["Title"] = "UploadForm";
}


<h4>Change small image:</h4>
<form method="post" enctype="multipart/form-data" asp-controller="Admin" asp-action="Upload" asp-route-cakeId="@Model.CakeId">
    <div class="form-group">
        <div>
            <label>Upload a new image:</label>
            <input asp-for="FormFile" class="btn btn-default" type="file" name="files"/>
        </div>
    </div>
    <div class="form-group">
        <div>                    
            <button type="submit" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-upload"></span> Upload
            </button>
        </div>
    </div>
</form>