﻿@model ShoppingCartViewModel


@if (@Model.ShoppingCart.ShoppingCartItems.Count == 0)
{
    <h2>Your shopping cart is empty at the moment.</h2>

    <div class="text-center">
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Add some cakes</a>
    </div>
}
else
{
    <h2>Your shopping cart</h2>
    <h4>Here are the delicious cakes in your shopping cart.</h4>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Selected amount</th>
                <th>Cake</th>
                <th class="text-right">Price</th>
                <th class="text-right">Subtotal</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.ShoppingCart.ShoppingCartItems)
            {
                <tr>
                    <td class="text-center">@line.Amount</td>
                    <td class="text-left">@line.Cake.Name</td>
                    <td class="text-right">@line.Cake.Price RON</td>
                    <td class="text-right">
                        @((line.Amount * line.Cake.Price) + " RON")
                    </td>
                    <td>
                        <div>
                            <a asp-controller="ShoppingCart" asp-action="RemoveOne" asp-route-id="@line.Cake.Id" class="btn btn-default">Remove One</a>
                            <a asp-controller="ShoppingCart" asp-action="RemoveAll" asp-route-id="@line.Cake.Id" class="btn btn-default">Remove All</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right">
                    @Model.ShoppingCartTotal RON
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="text-center">
        <a class="btn btn-primary" asp-controller="Order" asp-action="Checkout">Check Out</a>
    </div>
}