﻿
@{
    ViewData["Title"] = "Logout";
}

<h2>Logout</h2>

<form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm"
      method="post" class="navbar-right">    
        <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
</form>


<script>
    document.getElementById('logoutForm').submit()
</script>
