﻿@model EditProfileViewModel

<h2>Edit profile</h2>


<form asp-action="Profile" asp-controller="Account" method="post" class="form-horizontal" role="form">
    
    <h4>Change your information below:</h4>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="form-group">
            <label asp-for="Username" class="col-md-2 control-label"></label>
            <div class="col-md-3">
                <p class="control-label"><b>@Model.Username</b></p>                
            </div>
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-3">
                <p class="control-label"><b>@Model.Email</b></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
            <div class="col-md-3">
                <input type="tel" asp-for="PhoneNumber" class="form-control"  value="@Model.PhoneNumber"/>
            </div>
            <label asp-for="Address" class="col-md-2 control-label"></label>
            <div class="col-md-3">
                <input asp-for="Address" class="form-control"  value="@Model.Address"/>
            </div>
        </div>
    </div>

    <div class="text-left">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>

</form>