﻿@model RegisterViewModel

<form asp-action="Register" asp-controller="Account" method="post" class="form-horizontal" role="form">
    <h2>An acount makes it easier to place orders.</h2><br />

    <h4>Provide your information below:</h4>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="form-group">
            <label asp-for="Username" class="col-md-2 control-label"></label>
            <div class="col-md-3">
                <input asp-for="Username" class="form-control" />
            </div>
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-3">
                <input asp-for="Email" class="form-control" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <label asp-for="Password" class="col-md-2 control-label"></label>
            <div class="col-md-3">
                <input asp-for="Password" class="form-control" />
            </div>
            <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
            <div class="col-md-3">
                <input asp-for="ConfirmPassword" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
            <div class="col-md-3">
                <input type="tel" asp-for="PhoneNumber" class="form-control" />
            </div>
            <label asp-for="Address" class="col-md-2 control-label"></label>
            <div class="col-md-3">
                <input asp-for="Address" class="form-control" />
            </div>
        </div>
    </div>

    <div class="text-left">
        <button type="submit" class="btn btn-primary">Sign up</button>
    </div>

</form>
<h3>Or login with <a asp-controller="Account" asp-action="FacebookLogin">facebook</a>!</h3>
