﻿@model OrdersArchiveViewModel
@{
    ViewData["Title"] = "Archive";
}


@if (Model.Orders.Count > 0)
{
    int count = 0;
    <h3>Orders:</h3>
    <div class="order-list list-group">

        @foreach (var order in Model.Orders)
        {
            count++;
            <div class="order-item text-center">
                <a class="btn active collapseDetails" href="@("#collapseDetails" + order.OrderId)" role="button"
                   data-toggle="collapse" aria-expanded="false">
                    <span class="pull-left">Order</span>
                    <span># @count</span>
                    <span class="pull-right">@order.OrderState</span>
                </a>
                <div class="collapse" id="@("collapseDetails" + order.OrderId)">
                    <form>
                        <div class="form-group list-group-item row ">
                            <div class="col-md-4">
                                <label for="fullName">FullName:</label>
                                <input type="text" readonly class="form-control" id="fullName" value="@(@order.FirstName + " " + @order.LastName)" />
                            </div>
                            <div class="col-md-4">
                                <label for="email">Email:</label>
                                <input type="text" readonly class="form-control " id="email" value="@order.Email" />
                            </div>
                        </div>

                        <div class="form-group list-group-item row ">
                            <div class="col-md-4">
                                <label for="phone-number">Phone number:</label>
                                <input type="text" readonly class="form-control" id="phone-number" value="@order.PhoneNumber" />
                            </div>
                            <div class="col-md-4">
                                <label for="address1">Address:</label>
                                <input type="text" readonly class="form-control" id="address1" value="@order.AddressLine" />
                            </div>
                        </div>

                        <div class="form-group list-group list-group-item row ">
                            <a class="btn active collapseCakeDetails" href="@("#collapseCakeDetails" + order.OrderId)" role="button"
                               data-toggle="collapse" aria-expanded="false">
                                Cakes
                            </a>
                            <div class="collapse" id="@("collapseCakeDetails" + order.OrderId)">
                                @{
                                    foreach (var orderDetail in order.OrderLines)
                                    {
                                        <div class="form-group list-group-item row">
                                            <div class="col-md-4">
                                                <label for="cakeName">Cake:</label>
                                                <input type="text" readonly class="form-control" id="cakeName" value="@orderDetail.Cake.Name" />
                                            </div>
                                            <div class="col-md-4">
                                                <label for="amount">Amount:</label>
                                                <input type="text" readonly class="form-control" id="amount" value="@orderDetail.Amount" />
                                            </div>
                                            <div class="col-md-4">
                                                <label for="price">Price:</label>
                                                <input type="text" readonly class="form-control" id="price" value="@orderDetail.Price" />
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="form-group list-group-item row ">
                            <div class="col-md-4">
                                <label for="order-placed">Order placed:</label>
                                <input type="text" readonly class="form-control" id="order-placed" value="@order.OrderPlaced" />
                            </div>
                            <div class="col-md-4">
                                <label for="order-total">Order total:</label>
                                <input type="text" readonly class="form-control" id="order-total" value="@order.OrderTotal" />
                            </div>
                            
                            @if (User.IsInRole("Administrator"))
                            {
                                <div class="col-md-4">
                                    <button class="btn bg-danger" type="submit"
                                            asp-route-id="@order.OrderId" asp-controller="Admin" asp-action="RemoveOrder">
                                        Remove
                                    </button>                                    
                                </div>

                            }
                            
                        </div>
                    </form>
                </div>
            </div>
        }
    </div>
}
else
{
    <h3>There is no order in the archive!</h3>
}
