﻿@model ArdelsCakeShop.Models.Orders.Order

<form asp-controller="Order" asp-action="Checkout" method="post" class="form-horizontal" role="form">
    <h3>You're just one step away from your delicious cakes.</h3>
    
    <h5>Make sure your details are corect.</h5>
        
    <div class="form-group">
        <label asp-for="FirstName" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="LastName" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="AddressLine" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="AddressLine" class="form-control"  value="@Model.AddressLine"/>
            <span asp-validation-for="AddressLine" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="PhoneNumber" class="form-control" value="@Model.PhoneNumber"/>
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Email" class="form-control" value="@Model.Email"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>


    <div class="text-left">
        <button type="submit" class="btn btn-primary">Complete order</button>
    </div>

</form>
