﻿<h2>Your order was successfully placed.</h2>
<br/>
<br/>

<div class="isa_info ">
    
        We'll send you an email with order details and a <strong>confirmation link</strong> very soon!<br />
        Make sure you follow the link to confirm the order!<br />
        Thank you!
    
</div>