﻿@model ShoppingCartViewModel

<li id="shoppingCartSummary">
    <a asp-controller="ShoppingCart" asp-action="Index">
        <span class="glyphicon glyphicon-shopping-cart"></span>                
        <span id="cartStatus">
            @if (Model.ShoppingCart.ShoppingCartItems.Count > 0)
            {
                @Model.ShoppingCart.ShoppingCartItems.Sum(s => s.Amount)
            }
        </span>
        
    </a>
</li>
