﻿<div id="cakeDiv" class="items">
</div>
<p id="finish_text" class="text-center text-info btn-default disabled" hidden>There is no more cakes.</p>


<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="addModalLabel">Add to cart</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 name="question"></h5>
                <div class="form-group">
                    <input type="hidden" class="form-control" name="cakeId" id="cakeId" />
                    <label>Amount</label>
                    <input class="form-control" type="number" name="amount" id="amount" min="1" max="50" value="1">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary" onclick="addToCart()">Add</button>
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                </div>
            </div>
            
        </div>
    </div>
</div>


@*<a href=/Cake/Details/' + cake.cakeId + '>' + '</a>' +
    href=/ShoppingCart/AddToShoppingCart?id=' + cake.cakeId + '
*@

<script>
        var isHidden = true;
        var currentPage = 0;
        $(document).ready(function () {
            LoadMoreCakes();
        });

        $(window).scroll(function () {
            if ($(window).scrollTop() === $(document).height() - $(window).height() &&
                isHidden) {
                LoadMoreCakes();
            }
        });

        function LoadMoreCakes() {

            $.ajax({
                type: 'GET',
                url: '/api/CakeData',
                dataType: 'json',
                data: { currentPage: currentPage },
                success: function (jsonData) {
                    if (jsonData == null) {
                        $('#finish_text').show();
                        isHidden = false;
                        return;
                    }
                    currentPage++;
                    $.each(jsonData,
                        function (index, cake) {

                            var cakeSummarString = '<div class="item col-sm-2"> ' +
                                '  <div class="thumbnail">' +
                                '     <img src="' +
                                cake.smallImage +
                                '" alt="">' +
                                '      <div class="caption">' +
                                '         <h3 class="pull-right">' +
                                cake.price +
                                '</h3>' +
                                '         <h3>' +
                                cake.name +
                                '         </h3>' +
                                '         <p>' +
                                cake.shortDescription +
                                '</p>' +
                                '    </div>' +
                                '<button type="button" class="btn btn-primary" data-cake-id="' +
                                cake.cakeId +
                                '" data-cake-name="' +
                                cake.name +
                                '" data-cake-amount="' + 1 +
                                '" data-toggle="modal" data-target="#addModal">' +
                                'Add to Cart' +
                                ' </button> ' +
                                '  </div>' +
                                '</div>';

                            $('#cakeDiv').append(cakeSummarString);
                        });
                },
                error: function (ex) {
                    alert(ex);
                }
            });
            return false;
        }


        $('#addModal').on('show.bs.modal',
            function (e) {

                //get data-id attribute of the clicked element
                var cakeId = $(e.relatedTarget).data('cake-id');
                var cakeName = $(e.relatedTarget).data('cake-name');
                var cakeAmount = $(e.relatedTarget).data('cake-amount');

                //populate the textbox
                $(e.currentTarget).find('h5[name="question"]').html("Do you want to add more " + cakeName + "s ?");
                $(e.currentTarget).find('input[name="cakeId"]').val(cakeId);
                $(e.currentTarget).find('input[name="amount"]').val(cakeAmount);
            });


        function addToCart() {
            //...Do something to update the page from the dialog...
            $('#addModal').modal('hide');
            var cakeId = $('#cakeId').val();
            var amount = $('#amount').val();
            $.ajax({
                type: "POST",
                dataType: "json",
                data: { id: cakeId, amount: amount },
                url: "/ShoppingCart/AddToShoppingCart",
                success: function (data) {
                    updateCartSummary();
                },
                error: function () {
                    alert("Something went wrong!");
                }
            });
        }

        function updateCartSummary() {
            var item = $("#cartStatus");

            $.get("/ShoppingCart/ShoppingCartSummaryData", function (data) { item.text(data); });

        }

</script>