﻿@model IEnumerable<ArdelsCakeShop.Components.AccountProfileItem>

<li class="dropdown">
    <a asp-controller="Account"
       asp-action="Index"
       class="dropdown-toggle" data-toggle="dropdown">@ViewBag.User<b class="caret"></b></a>
    <ul class="dropdown-menu">
        @foreach (var menuItem in Model)
        {
        <li>            
            <a asp-controller="Account" asp-action=@menuItem.ActionValue>@menuItem.DisplayValue</a>            
        </li>
        }
    </ul>
</li>