﻿@model AddRoleViewModel

<form asp-controller="Admin" asp-action="AddRole" method="post" class="form-horizontal">
    <h4 class="text-center">Enter the role details:</h4>

    <div class="form-group">
        <label asp-for="RoleName" class="col-sm-3 control-label"></label>
        <div class="col-sm-6">
            <input asp-for="RoleName" class="form-control" />
            <span asp-validation-for="RoleName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-3">
            <button type="submit" class="btn btn-primary">
                Create
            </button>
            <span>
                <button type="submit" class="btn btn-danger" asp-controller="Admin" asp-action="BackToRoleManagement">
                    Cancel
                </button>
            </span>
        </div>
        
    </div>
</form>
