﻿@model UserToRoleViewModel

@if (Model.Users.Count > 0)
{
    <h2>Promote user to a new role:</h2>
    <form class="form-group" asp-controller="Admin" asp-action="AddUserToRole" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" name="RoleId" value="@Model.RoleId" />
        <select class="form-control" asp-for="UserId"
                asp-items="@(new SelectList(Model.Users, "Id", "UserName"))"></select>
        <button class="btn btn-primary" type="submit">
            Confirm
        </button>
    </form>
}
else
{
    <h2 class="text-info">No user to promote.</h2>
}

<div>
    <a asp-action="RoleManagement" class="btn btn-default">Back to role management</a>
</div>
<div>
    <a asp-action="EditRole" asp-route-id="@Model.RoleId" class="btn btn-default">Back to edit</a>
</div>

