﻿@model IEnumerable<ArdelsCakeShop.Models.Cakes.Cake>

@{
    ViewData["Title"] = "Cake Managemenet";
}

<h2>Cake Managemenet</h2>

<a asp-controller="Admin" asp-action="AddCake" class="btn btn-primary">Add a new cake</a>
<div asp-validation-summary="All" class="text-info" id="warning"></div>
<h4>List of cakes:</h4>
<table class="table table-bordered table-responsive cakes-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Status</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cake in Model)
        {
            <tr>
                <td>@cake.Name</td>
                <td>@cake.Description</td>
                <td>@cake.Price</td>
                <td>@cake.CakeStatus</td>
                <td><img src="@cake.SmallImage" alt="@cake.Name" /></td>
                <td>
                    <div>
                        <a asp-controller="Admin" asp-action="EditCake" asp-route-id="@cake.Id" class="btn btn-default">Edit</a>
                        <a asp-controller="Admin" asp-action="RemoveCake" asp-route-id="@cake.Id"
                            onclick="return confirm('Do you want to remove this cake?')" class="btn btn-default">Remove</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>