﻿@using ArdelsCakeShop.Models.Cakes
@model ArdelsCakeShop.Models.Cakes.Cake

@{
    ViewData["Title"] = "Edit Cake";
}

<h2>Edit cake or upload a new image</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCake" asp-controller="Admin" >
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"cols="20" rows="4" runat="server"></textarea>                            
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CakeStatus" class="control-label"></label>
                <select asp-for="CakeStatus"
                        asp-items="@(Html.GetEnumSelectList<CakeStatus>())">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="SmallImage" class="control-label"></label>
                <img src="@Model.SmallImage"/>
                <span asp-validation-for="SmallImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                
            </div>
        </form>
    </div>  
</div>

<div class="row">
    <div class="col-sm-2">
        <a class="btn btn-default" asp-action="CakeManagement">Back to list</a>
    </div>
    <div class="col-sm-2">
        <a class="btn btn-primary" asp-controller="Admin" asp-action="UpdateImage" asp-route-id="@Model.Id">Upload a new image</a>
    </div>
</div>