﻿@model EditRoleViewModel

<h2>Edit role</h2>

<form asp-controller="Admin" asp-action="EditRole" method="post" class="form-horizontal" role="form">

    <div class="form-group">
        <label asp-for="Id" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Id" class="form-control" readonly="readonly" />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="RoleName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="RoleName" class="form-control" />
            <span asp-validation-for="RoleName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Save role" />
            <a asp-action="RoleManagement" class="btn btn-danger">Cancel</a>
        </div>
    </div>
</form>

@if (!Model.Users.Any())
{
    <h3>No user defined to this role.</h3>

}
else
{
    <div>
        <h3>Users in this role</h3>
        <ul class="list-group">
            @foreach (var user in Model.Users)
        {
            <li class="list-group-item">
                @user
            </li>
        }
        </ul>
    </div>
}

<a asp-action="AddUserToRole" asp-route-roleId="@Model.Id" class="btn btn-primary">Add users to role</a>
<a asp-action="DeleteUserFromRole" asp-route-roleId="@Model.Id" class="btn btn-primary">Remove users from role</a>