﻿@model IEnumerable<IdentityRole>

<h2>Roles management</h2>

<div class="text-danger" asp-validation-summary="All"></div>

@if (!Model.Any())
{
    <tr><td colspan="3" class="text-center">No roles defined yet.</td></tr>
}
else
{
    <table class="table table-bordered">
        <tr>
            <th>Role ID</th>
            <th>Role name</th>
            <th>Actions</th>
        </tr>
        @foreach(var role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
                <td>
                    <form asp-action="DeleteRole" asp-route-id="@role.Id" method="post">
                        <a class="btn btn-sm btn-primary" asp-action="EditRole" asp-route-id="@role.Id">Edit role</a>
                        <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Do you want to delete this role?')">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>

        }

    </table>
}
<a class="btn btn-primary" asp-action="AddRole">Add new role</a>
