﻿@model UpdateImageViewModel
@{
    ViewData["Title"] = "UpdateImage";
}
<h2>Upload new image</h2>

<h4>@ViewData["HeaderInfo"]</h4>
<form asp-controller="UploadCake" asp-action="Upload"
      method="POST" enctype="multipart/form-data">

    <div class="form-group">
        <label asp-for="SmallImage" class="control-label">Current image</label>
        <img src="@Model.SmallImage"/>
        <span asp-validation-for="SmallImage" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div>
            <label asp-for="FormFile">Upload a new image:</label>
            <input asp-for="FormFile" class="btn btn-default" type="file"/>
            <input type="hidden" asp-for="CakeId" value="@Model.CakeId"/>
        </div>
    </div>
    <div class="form-group">
        <div>
            <button type="submit" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-upload"></span> Upload
            </button>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-default" asp-controller="Admin" asp-action="CakeManagement">Back to list</a>
</div>