﻿@model IEnumerable<ApplicationUser>


<h2>Users management</h2>

@if (!Model.Any())
{
    <tr><td colspan="3" class="text-center">No User Accounts</td></tr>
}
else
{
    <table class="table table-condensed table-bordered" header header-content="User Management">
        <tr>
            <th>User ID</th>
            <th>UserName</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        @foreach(var user in @Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    <form asp-action="DeleteUser" asp-route-userId="@user.Id" method="post">
                        <a class="btn btn-sm btn-primary" asp-action="EditUser"
                           asp-route-id="@user.Id">Edit</a>
                        <button type="submit" onclick="return confirm('Are you sure you want to delete this user?')" class="btn btn-primary">
                            Delete
                        </button>
                    </form>
                          
                </td>
            </tr>

        }

    </table>

}
